
.pop-msg {
    text-align: center;
    border-radius: 35px;
    background-color: rgba(255, 150, 10, 0.9);
    padding: 20px 30px 20px 30px;
    position: absolute;
    z-index: 1;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#victory-msg {
    display: none;
}

.game-info-container {
    background-color: rgb(255, 150, 10);
    width: 100%
}

.info-hold {
    display: inline-block;
    text-align: center;

    padding: 5px 0 5px 0;
}


/*------------Cards styles and animation----------------*/

.game-container {
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
}

.card {
    height: 197px;
    width: 140px;
    overflow: hidden;
    position: relative;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

.inactive {
    pointer-events: none;
}

.front, .back {
    height: 197px;
    width: 140px;
    position: absolute;
    border-radius: 5px;
    display: flex;
}

.open {
    /* Placeholder class for opened cards. */
}

